List

In [ ]:
##insertion into list
l1=[1,2,3.5,"ramesh"]
l2=["nivin","jeourge",12]