List

In [1]:
##insertion into list
l1=[1,2,3.5,"ramesh"]
l2=["nivin","jeourge",12]
l1.append("vinay")

print("append")
print(l1)
print("add")
print(l1+l2)
print("insert")
l1.insert(1,1.5)
print(l1)

append
[1, 2, 3.5, 'ramesh', 'vinay']
add
[1, 2, 3.5, 'ramesh', 'vinay', 'nivin', 'jeourge', 12]
insert
[1, 1.5, 2, 3.5, 'ramesh', 'vinay']

In [3]:
#delete
l1=[1,2,3.5,"ramesh"]
l1.remove(2)
print(l1)
#pop
a=l1.pop(2)
print(a)
print(l1)

[1, 3.5, 'ramesh']
ramesh
[1, 3.5]

In [9]:
#list related operations using conditional statment
l1=[1,2,3.5,"ramesh"]
if 3.5 in l1:
    print("is there")
else :
    print("not there")    
    
    
    
if 1 not in l1:
    print("not there")
else :
    print("is there")

is there
is there

In [14]:
#reverse a list
list=[12,23,56,78,94,4,415,45,434]
list.reverse()
print(list)

[434, 45, 415, 4, 94, 78, 56, 23, 12]

In [21]:
#sort
list=[12,23,56,78,94,4,415,45,434]
list.sort()
# alternate way
a=sorted(list)
print(a)
#sort reverse
b=sorted(list,reverse=True)
print(b)

[4, 12, 23, 45, 56, 78, 94, 415, 434]
[434, 415, 94, 78, 56, 45, 23, 12, 4]

In [30]:
#string split
s="poda patide nayi mowne"
a=s.split()
print(a)
print(a[0:2])
print(list[::2],"prints alternate elements")
print(list[1::2],"Prints alternate no starting fron the location 1")

['poda', 'patide', 'nayi', 'mowne']
['poda', 'patide']
[4, 23, 56, 94, 434] prints alternate elements
[12, 45, 78, 415] Prints alternate no starting fron the location 1

In [31]:
#list count 
print(list.count(23),"it shows how many thimes the element 23 is present in the list")

1 it shows how many thimes the element 23 is present in the list

In [32]:
#list loop
for ele in list:
    print(ele)

4
12
23
45
56
78
94
415
434

In [35]:
#list comprehension
square=[i**2 for i in range(10)]
print(square)
new_list=[i for i in list if i>40]
print(new_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[45, 56, 78, 94, 415, 434]

In [37]:
#creating list of touple
nl=[(i,i**2) for i in range(10)]
print("it prints the square of each number from 0 to 9",nl)

it prints the square of each number from 0 to 9 [(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]