In [1]:
#tuple
t=(1,2,3)
print(t)

(1, 2, 3)

In [3]:
#nested tuple
t=(1,(2,3,4),[9,3,"nivin"])
print(t)
print(t[2][2])

(1, (2, 3, 4), [9, 3, 'nivin'])
nivin

In [5]:
#delete
tc=(1,2,3)
print(tc)
del tc

(1, 2, 3)

In [6]:
#pre defined functions
t=(1,2,3)
print(t.index(3))
print(max(t))
print(min(t))
print(sum(t))

2
3
1
6

sets

In [7]:
#set
s={1,2,3,4,1,2}
print(s)
#it will not print duplicate values

{1, 2, 3, 4}

In [11]:
#add 
s={1,4,'nivin'}
s.add(2)
print(s)
s.update([5,8,6],{8,'ni'})
print(s)

{1, 'nivin', 2, 4}
{1, 2, 4, 5, 6, 8, 'ni', 'nivin'}

In [12]:
#remove set 
s={1,2,3,4,'nivin'}
s.discard(4)
print(s)
s.remove(2)
print(s)
a=s.pop()
print(a)
print(s)
print(s.clear())

{1, 2, 3, 'nivin'}
{1, 3, 'nivin'}
1
{3, 'nivin'}
None

In [15]:
#set operations
s1={1,2,3,4,'nivin','nul'}
s2={1,2,6,5,'nivin','nulsir'}
print(s1 | s2)
print(s1 & s2)
print(s1 - s2)
print(s1 ^ s2)

#alternative
print("alternative")
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 5, 6, 'nulsir', 'nivin', 'nul'}
{1, 2, 'nivin'}
{3, 4, 'nul'}
{3, 4, 5, 6, 'nulsir', 'nul'}
alternative
{1, 2, 3, 4, 5, 6, 'nulsir', 'nivin', 'nul'}
{1, 2, 'nivin'}
{3, 4, 'nul'}
{3, 4, 5, 6, 'nulsir', 'nul'}